* {
    margin: 0;
    padding: 0;
  }
  
  .rain-container {
    position: relative;
    background: #000;
    width: 100vw;
    height: 150vh;
    overflow: hidden;
  }
  
  i {
    position: absolute;
    height: 120px;
    border-radius: 0 0 999px 999px;
    animation: animate 5s linear infinite;
  }
  
  @keyframes animate {
    0% {
      transform: translateY(-120px);
    }
    100% {
      transform: translateY(calc(100vh + 120px));
    }
  }
  h2
  {
    text-wrap: wrap; 
    color: antiquewhite;
  }
.con
{
  width: 1000px;
  height: 100px;
  margin-left: 400px;
}
 
  #carouselExample
  { 
     top: 100px;
     left: 50px;
     right: 50px;
     position: relative;
  }
  #cat1
  {
   width: 20vw;
   height: 25vh;
   position: relative;
  }
  #fire
  {
    width: 25vw;
    height: 25vh;
    position: relative;
  }
  #cat2
  {
    width: 20vw;
    height: 25vh;
    position: relative;
  }
  #couch
  {
    width: 25vw;
    height: 40vh;
    position: relative;
  }
  #character
  {
    width: 25vw;
    height: 35vh;
    position: relative;
  }
  #trial
  {
    width: 25vw;
    height: 35vh;
    position: relative;
  }
  #background
  {
    width: 25vw;
    height: 35vh;
    position: relative;
    
  }
  .containeradd
  {
   position: relative;
  }
  #cultist1
  {
    width: 25vw;
    height: 35vh;
    position: relative;
    
  }
  #cultist2
  {
    width: 25vw;
    height: 35vh;
    position: relative;
  }
  #demon
  {
    width: 30vw;
    height: 30vh;
  }
  